@model TicketEagle.Models.Bilhete

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bilhete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvId.EvId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
