@model IEnumerable<TicketEagle.Models.Utilizador>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Lista de Utilizadores</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Criar Utilizador</a>
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <img src="~/Imagens/Users/@item.Foto" height="50" alt="imagem do utilizador @item.Nome" title="@item.Nome" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserID" class="btn btn-success">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-secondary">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-danger">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <kbd>Não há Utilizadores disponiveis</kbd>
}
